.sidebar {
    background: rgba(0,0,0,0.05);
    height: 100%;
    width: 30%;
    height: 80vh;
    padding: 15px;
}
p {
    color: black;
}
ol {
    padding-left: 0;
    margin-left: 30px;
}

li {
    /* list-style-type: none; */
    padding: 15px 30px 15px 10px;
    border-bottom: 1px solid rgba(0,0,0,0.3);
}
h2 {
    font-size: 16px;
    text-transform: uppercase;
}